* {
    border: none;
    font-family: DejaVu Sans Mono Nerd Font;
    font-size: 14px;
    /* padding: 0 10px; */
    /* padding: 0px; */
    /* color: rgba(235, 219, 178, 1); */
    border-radius: 10px;
}

window {
    /*font-weight: bold;*/
}
window#waybar {
    background: rgba(40, 40, 40, 0.85);
    color: rgba(235, 219, 178, 1);
}
/*-----module groups----*/
.modules-right {
    background-color: rgba(40, 40, 40, 1);
    margin: 2px 10px 0 0;
}
.modules-center {
    background-color: rgba(40, 40, 40, 1);
    margin: 2px 0 0 0;
}
.modules-left {
    /* margin: 0px 0 0 2px; */
    background-color: rgba(40, 40, 40, 1);
}
/*-----modules indv----*/
#workspaces button {
    /* padding: 0 2px; */
    min-width: 20px;
    background-color: transparent;
    background: rgba(40, 40, 40, 1); 
    color: rgba(235, 219, 178, 1);
}
#workspaces button:hover {
    box-shadow: inherit;
    background: rgba(235, 219, 178, 1);
    color: rgba(40, 40, 40, 1);
}

#workspaces button.focused {
    background: rgba(235, 219, 178, 1);
    color: rgba(40, 40, 40, 1);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#mpd,
#tray,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 10px;
}
#mode {
    color: #cc3436;
    background: rgba(40, 40, 40, 0.85);
    font-weight: bold;
}
#custom-power {
    background-color: rgba(235, 219, 178, 1);
    color: rgba(40, 40, 40, 1);
    border-radius: 100px;
    margin: 5px 5px;
    padding: 1px 1px 1px 12px;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
    color: #2dcc36;
}
#pulseaudio.muted {
    color: #cc3436;
}
#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
    color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}
#temperature.critical {
    color: #cc3436;
}
/*-----Colors----*/
/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green 
 *rgba(0,153,153,1),#009999 --> Persian Green 
 *
 */
